<ion-item-sliding *ngFor="let pelis of peliculas">
  <ion-item-options side="start">
    <ion-item-option color="danger" expandable (click)="borrarFav(pelis)">
      <ion-icon name="trash-outline"></ion-icon>
      Borrar
    </ion-item-option>
  </ion-item-options>

  <ion-item>
    <ion-card >
      <img [src]="pelis.backdrop_path | imagen" alt="">
      <ion-card-content>
        <ion-title>
          <h2>
            <strong>
              {{pelis.title}}
            </strong>
          </h2></ion-title>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="tertiary" expandable (click)="presentPopover(pelis.homepage)">
      <ion-icon name="qr-code-outline"></ion-icon>
      Generar código QR
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
