<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <img src="../../../assets/img/back.svg" alt="" id="back" />
        <ion-label>Atrás</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="titulo">
    <h1>
      <strong>
        {{ movie.title }}
      </strong>
    </h1>
  </ion-label>
  <div *ngIf="identity === 'administrador'">
    <div class="noticias-more">
      <ion-button fill="clear" shape="round" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <img [src]="movie.backdrop_path | imagen" *ngIf="movie.backdrop_path" />

  <ion-grid>
    <ion-row>
      <ion-col size="4" class="poster-detalle-sobre">
        <ion-card class="poster">
          <img
            [src]="movie.poster_path | imagen"
            class="poster"
            *ngIf="movie.poster_path"
          />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label> {{ movie.overview | slice: 0:oculto }}... </ion-label>
        <ion-label
          color="primary"
          (click)="oculto = 5000"
          *ngIf="oculto !== 5000"
          >Leer más...</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngFor="let genero of movie.genres" color="primary">
          <ion-label>{{ genero.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
