<ion-content>
  <img src="../../assets/img/1609408585_467254_1609408795_noticia_normal.jpg" alt="" class="bg-image">
  <img src="../../assets/img/lol.jpg" alt="" class="bg-image2">
  <img src="../../assets/img/los2.jpg" alt="" class="bg-image3">
  <h1><strong>¿Quien está viendo?</strong></h1>
  <ion-grid>

    <ion-row id="col">
      <ion-col>
        <h2><strong>Arturo</strong></h2>
        <ion-row>
          <img
            src="../../assets/img/circle-cropped.png"
            alt=""
            id="administrador"
            (click)="home()"
          />
        </ion-row>
      </ion-col>
      </ion-row>

      <ion-row id="col">
        <ion-col>
          <h2><strong>Invitado</strong></h2>
          <ion-row>
            <img
              src="../../assets/img/estrella-invitada.svg"
              alt=""
              id="invitado"
              (click)="invitado()"
            />
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row id="col">
      <ion-col>
        <h2><strong>Kids</strong></h2>
        <ion-row>
          <img
            src="../../assets/img/boy.svg"
            alt=""
            id="kids"
            (click)="kids()"
          />
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
