<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" *ngIf="identity == 'administrador' || identity == 'kids' ">
      <ion-icon name="home"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  *ngIf="identity == 'administrador' || identity == 'kids' ">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  *ngIf="identity == 'administrador'">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
