#salir {
  width: 20px;
  right: 10px;
  margin-right: 10px;
}

#logout {
  margin-right: 5px;
}

#kids {
  width: 30px;
  margin-left: 10px;
}

#invitado {
  width: 30px;
  margin-left: 10px;
}

#guest {
  position: absolute;
  margin-left: 25px;
  margin-top: -30px;
}
