<ion-header>
  <ion-toolbar>
    <ion-label slot="end" id="logout" (click)="salir()">Salir</ion-label>
    <img
      src="../../assets/img/arrow.svg"
      alt=""
      id="salir"
      slot="end"
      (click)="salir()"
    />

    <img
      src="../../assets/img/circle-cropped.png"
      alt=""
      id="invitado"
      *ngIf="identity === 'administrador' "
    />
    <ion-title id="guest" *ngIf="identity === 'administrador' "
      ><strong>Arturo</strong></ion-title
    >

    <img
      src="../../assets/img/boy.svg"
      alt=""
      id="invitado"
      *ngIf="identity === 'kids' "
    />
    <ion-title id="guest" *ngIf="identity === 'kids' "
      ><strong>Kids</strong></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container [peliculas]="storage.pelicula"></app-explore-container>
</ion-content>
